<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Yunsung Kim
              </h1>
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=rOMbuzIAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://mailhide.io/e/giRUEl5z"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/yunsungkim0908/">GitHub</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/YunsungKim4">Twitter</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/yunsung-kim-2742071a6/"> LinkedIn </a>
              </p>
              <p>
                I am a PhD candidate in the Computer Science Department at Stanford University, where I am advised by <a href="https://stanford.edu/~cpiech/bio/index.html">Prof. Chris Piech</a>.
              </p>
              <p>
                My research aims to build <b>computational and algorithmic tools that can help instructors understand and aid their students more efficiently and effectively. </b> I often use ideas from probabilistic modeling, machine learning, and artificial intelligence.
              </p>
              <p>
                I was an Applied Scientist Intern (Summer 2022) in the Learning Sciences Organization at Amazon, where I was supervised by <a href="https://ed.stanford.edu/faculty/cthille">Prof. Candace Thille</a>. Before coming to Stanford, I finished my undergraduate studies at Columbia University, where I was fortunate to have had worked with <a href="http://www.cs.columbia.edu/~augustin/">Prof. Augustin Chaintreau</a> and <a href="http://www.cs.columbia.edu/~martha/">Prof. Martha Kim</a>.
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img id="profile-image" alt="profile photo" src="images/yunsung_kim.jpg">
              <!--<img style="height:200px;border-radius:100px;" alt="profile photo" src="images/yunsung_kim.jpg">-->
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>
        </table>
        <p style="padding:0% 20px">
          One of my greatest sources of inspiration for my research is my love for teaching! Here are the courses which I've been involved with:
        </p>
        <ul>
          <li>
            <a href="https://web.stanford.edu/class/archive/cs/cs109/cs109.1238/">(Summer 2023) CS109: Probability for Computer Scientists</a> (Course Instructor)
          </li>
          <li>
            <a href="https://explorecourses.stanford.edu/search?view=catalog&filter-coursestatus-Active=on&q=EDUC%20259B:%20Education%20Data%20Science%20Seminar&academicYear=20212022">(Winter 2023) EDUC 259B: Education Data Science Seminar</a> (Guest Lecturer)
          </li>
          <li>
            <a href="https://web.stanford.edu/class/archive/cs/cs109/cs109.1226/">(Spring 2022) CS109: Probability for Computer Scientists</a> (Teaching Assistant)
          </li>
          <li>
            <a href="https://web.stanford.edu/class/archive/cs/cs109/cs109.1222/">(Fall 2021) CS109: Probability for Computer Scientists</a> (Teaching Assistant)
          </li>
          <li>
            <a href="https://web.stanford.edu/class/archive/cs/cs109/cs109.1218/">(Summer 2021) CS109: Probability for Computer Scientists</a> (Teaching Assistant)
          </li>
          <li>
            <a href="https://web.stanford.edu/class/archive/cs/cs106a/cs106a.1206/">(Spring 2020) CS106A: Programming Methodologies</a> (Teaching Assistant)
          </li>
        </ul>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Recent Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.pdf %}
              <a href="{{post.pdf}}">paper</a> {{post.pdf-comment}}/
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> {{post.website-comment}} /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

  <!--
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Older Projects</h2>
              <p>
                These include course projects, unpublished works, and published research projects prior to coming to Stanford.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'old' %}
          <tr>
            <td style="padding:1%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
  -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Adapted from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's fork</a> of <a style="font-size:small;" href="https://jonbarron.info">John Barron's website</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

